---
import Newscard from "./Newscard.astro";

const url = "https://vvjmazqfuruokrbpmhso.supabase.co/rest/v1/indhold";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2am1henFmdXJ1b2tyYnBtaHNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODE4OTc1MjcsImV4cCI6MTk5NzQ3MzUyN30.YlMWJwKf5ZiuYgrztptMIkJOiiSNUMiGzU40kWk80nc";

const respons = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const data = await respons.json();

const newsdata = data.filter((item) => item.type == "nyhed");
const eventdata = data.filter((item) => item.type == "event");
---

<h2>Nyheder og events</h2>
<p>her ser du alle vores nyheder samt et overblik over de arrangementer som vi stabler på benene i deli'en</p>

<section>
  <div class="scrollnews">
    {
      newsdata.map((item) => {
        return (
          <Newscard
            header={item.header}
            text={item.tekst.slice(0, 190) + "..."}
            img={"../images/" + item.img + ".webp"}
            day={item.day}
            month={item.month}
            price={item.price}
            type={item.type}
            id={"/undersider/" + item.id}
          />
        );
      })
    }
    {
      eventdata.map((item) => {
        return (
          <Newscard
            header={item.header}
            text={item.tekst.slice(0, 190) + "..."}
            img={"../images/" + item.img + ".webp"}
            day={item.day}
            month={item.month}
            price={item.price}
            type={item.type}
            id={item.id}
          />
        );
      })
    }
  </div>
</section>

<style>
  section {
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
  }

  .scrollnews {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    gap: 1rem;
  }

  .card {
  }
  h2,
  p {
    margin-left: 1rem;
  }
  h2 {
    margin-top: 2rem;
    color: var(--primarycolor);
  }
</style>
